In [42]:
# 0. bs4 모듈의 BeautifulSoup 클래스 사용
import pandas as pd
import requests
from bs4 import BeautifulSoup
from time import sleep

In [16]:
# 1. 웹(html)문서 불러오기
#    1-1. 다운받아 놓은 웹(html)문서 불러오기
file = open('html/index.html', encoding = 'utf-8')
read = file.read()
file.close()

print( type(read) )
print( read[:60] )

<class 'str'>
<html lang="ko">
    <head>
        <title>안재덕의 홈페이지</title>

In [20]:
# 2. 웹문서내용(str,문자열)을 분석 가능한 객체(bs4.BeautifulSoup) 생성
html = BeautifulSoup(read, 'html.parser')
print( type(html) )
html

<class 'bs4.BeautifulSoup'>

<html lang="ko">
<head>
<title>안재덕의 홈페이지</title>
<meta charset="utf-8"/>
<style>
</style>
</head>
<body>
        안녕하세요.<br/>
        안재덕의 홈페이지에 오신걸 환영합니다.<br/>
<ul>내가 좋아하는 것들
            <li>게임</li>
<li>여행</li>
<li>영화</li>
</ul>
<ul>내가 싫어하는 것들
            <li>잔소리</li>
<li>청소</li>
<li>정리</li>
</ul>
</body>
</html>

In [26]:
# 3. find, find_all 메소드등을 이용하여 특정한 <tag> 블럭 조회
title = html.find('title')
print( type(title) )
print( title )
print('사이트제목:', title.text )

<class 'bs4.element.Tag'>
<title>안재덕의 홈페이지</title>
사이트제목: 안재덕의 홈페이지

In [47]:
ul_list = html.find_all('ul')

rows = []
for ul in ul_list:
    li_list = ul.find_all('li')
    row = []
    for li in li_list:
        data = li.text
        row.append(data)
    rows.append(row)
rows

[['게임', '여행', '영화'], ['잔소리', '청소', '정리']]

In [70]:
file = open('html/table.html', 'r', encoding = 'utf-8')
read = file.read()
file.close()

html = BeautifulSoup(read, 'html.parser')

tr_list = html.find('tbody').find_all('tr')

rows = []
for tr in tr_list:
    td_list = tr.find_all('td')
    row = []
    for td in td_list:
        data = td.text
        row.append(data)
    rows.append(row)

df = pd.DataFrame(rows, columns = ['id', 'name', 'age', 'addr'])
df.set_index('id', inplace = True)
df

      name age addr
id
hong   홍길동  23   경기
hwang  황진이  25   서울
dog    멍멍이   5   제주
cat    야옹이   3   울룽

'123'