In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from time import sleep

In [5]:
df = pd.read_csv('csv/auto-mpg.csv')

df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [12]:
#python과 판다스가 부르는 type이 다르다.
diff = pd.DataFrame([['int','int64'],
                    ['float','float64'],
                    ['str','object']],
                   columns = ['python','pandas'],
                   index = ['정수','실수','문자열'])

    python   pandas
정수     int    int64
실수   float  float64
문자열    str   object

In [13]:
df.shape #데이터프레임 크기를 출력해준다.

df.info() #열 이름과 각 열의 데이터 수량, 데이터타입.
#수량과 타입에 문제가 있나 확인. 변수에 저장이 안되는 단점.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

NoneType

In [17]:
df.count()  #각 열의 개수를 반환해준다.
df.count() - 398 #연산하여 볼수도 있다.
df.dtypes   #각 열의 타입을 반환해준다.
df.describe() #값이 숫자인 열에 대해 평균, 표준편차, 최대값, 최소값, 중간값을 표로 보여준다.

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [25]:
columns =['mpg','cylinders','weight','acceleration']

median = df[columns].mean()  
#열 인덱싱하지않으면 문자열값을 가진 열때문에 에러발생

min = df[columns].min()
max = df[columns].max()

pd.DataFrame({'mix':min,'median':median,'max':max}).T

mpg               46.6
cylinders          8.0
weight          5140.0
acceleration      24.8
dtype: float64