In [1]:
import pandas as pd

In [3]:
#Series
id_list = ['hong','hwang','dog','cat']
name_list = ['홍길동','황진이','멍멍이','야옹이']
age_list = [23,25,5,3]
addr_list = ['경기','서울','제주','울릉']

sr1 = pd.Series(id_list)
sr2 = pd.Series(name_list)
print(sr1)
print(sr2)

0     hong
1    hwang
2      dog
3      cat
dtype: object
0    홍길동
1    황진이
2    멍멍이
3    야옹이
dtype: object

In [25]:
#DataFrame으로 행렬 만들기
df = pd.DataFrame({'id':id_list,'name':name_list,'age':age_list,'addr':addr_list}) 
#딕셔너리를 DataFrame화하면 한 열씩 작성됨


print(type(df)) #pandas.core.frame.DataFrame 자료형

df #셀 별로 하나씩밖에 조회 가능함. print()가 아니라서 출력이 아님

df['id'][2] #DataFrame 값 추출(인덱스)
df

<class 'pandas.core.frame.DataFrame'>

      id name  age addr
0   hong  홍길동   23   경기
1  hwang  황진이   25   서울
2    dog  멍멍이    5   제주
3    cat  야옹이    3   울릉

In [45]:
#리스트 DataFrame화
list_data = [
    ['홍길동',23,'경기'],
    ['멍멍이',5,'제주'],
    ['야옹이',3,'울릉']
]

df3 = pd.DataFrame(list_data,index=[0,1,2],columns=['원','투','쓰리']) 
#index로 행 이름들을 짓고, columns로 열 이름들을 지을 수 있다.
print(df3)

df3['원'][0] #행 그리고 열에 해당하는 값을 찾는다 인덱싱

df3.rename(columns={'원':'하나','투':'둘','쓰리':'셋'}) #인덱스 혹은 콜롬 개별수정 함수 rename
df3.rename(columns={'원':'하나','투':'둘','쓰리':'셋'},inplace = True)
id(df3)
#inplace = True는 원본 객체를 직접 수정하여, 새롭게 메모리를 생성하지 않는다.

df3.columns=['하나','둘','셋'] #인덱스 혹은 콜롬 일괄수정

print(df3)

     원   투  쓰리
0  홍길동  23  경기
1  멍멍이   5  제주
2  야옹이   3  울릉
    하나   둘   셋
0  홍길동  23  경기
1  멍멍이   5  제주
2  야옹이   3  울릉

In [56]:
df7 = df3.copy() #copy함수를 이용해 데이터 프레임 복사

df7.drop('하나', axis = 'columns') # drop함수를 이용하여 행이나 열 하나를 삭제 할 수 있다.

df7.drop([0,1], axis = 0) #drop함수 다수의 행이나 열 삭제하기 위해 대괄호를 사용한다.

    하나  둘   셋
2  야옹이  3  울릉

In [76]:
#데이터프레임의 행이나 열 접근(인덱싱)

df3['하나']
df3.하나   #열접근방식

df3.loc[0] #행 이름으로 인덱싱, 슬라이싱할 시 마지막을 포함
df3.iloc[0] #행 정수형 위치 인덱스 이름으로 인덱싱, 슬라이싱할 시 마지막은 제외

df3.loc[[0,1,2]] # 행 다수 인덱싱 [[]]
df3[['하나','둘']] # 열 다수 인덱싱 [[]]

df3.loc[:,'하나':'셋'] #loc 열 슬라이싱. 마지막을 포함. 앞에 : 를하나 붙인다!!
df3.iloc[:,0:2] #iloc 열 슬라이싱. 마지막은 제외

df3[0:2] #행 슬라이싱

    하나   둘   셋
0  홍길동  23  경기
1  멍멍이   5  제주