from bs4 import BeautifulSoup as BS

# 1 파일로 불러오기
flie = open('html파일', 'r')
read = file.read()
file.close


file.readline()
file.readlines()

# 2 웹주소로 불러오기
import requests
response = requests.get('https://URL주소')
text = response.text


html = bs4.BeautifulSoup(read, 'html.parser')

#find, find_all, select, select_one 메소드 등을 이용하여 특정한 <tag> 블럭 조회

html.find('tag')		:<tag>...</tag>으로 구성된 태그블럭중 가장 처음 발견된 1개의 블럭만 반환한다.
			 (해당 태그 전부 반환하려면 상위 태그를 적어야한다.)

gtml.find_all()		:<tag>...</tag>으로 구성된 태그블럭들을 묶어서 리스트로 반환한다.
			 [<tag>...</tag>, <tag>...</tag>,...]

In [63]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from time import sleep

In [6]:
file = open('html/index.html', encoding = 'utf-8')
read = file.read()
file.close()

print(type(read))
print(read[:60])

<class 'str'>
<html lang="Ko">
	<head>
		<title> 안재덕의 홈페이지</title>
		<meta

In [10]:
html = bs(read,'html.parser') #html.parser라는 문서 편집기로 읽는다.

print(type(html))

<class 'bs4.BeautifulSoup'>

In [15]:
title = html.find('title')
print(type(title))
print(title)
print('사이트제목 :',title.text) #text 함수 : 원소에서 문자열만 뽑아준다. (리스트에서 사용불가)

<class 'bs4.element.Tag'>
<title> 안재덕의 홈페이지</title>
사이트제목 :  안재덕의 홈페이지

In [45]:
li_list = html.find_all('li')
datas = []

for li in li_list:
    #print(li.text)
    datas.append(li.text)
    
datas

['내가 좋아하는 것들\n\t\t\t게임\n여행\n영화\n', '내가 싫어하는 것들\n\t\t\t잔소리\n청소\n정리\n']

In [44]:
#연습
html.find_all('ul')

[<ul>내가 좋아하는 것들
 			<li>게임</li>
 <li>여행</li>
 <li>영화</li>
 </ul>,
 <ul>내가 싫어하는 것들
 			<li>잔소리</li>
 <li>청소</li>
 <li>정리</li>
 </ul>]

In [42]:
ul_list = html.find_all('ul')

datas = []
for rows in ul_list:
    data = []
    #datas.append(rows)
    for row in rows:
        data.append(row)
        
    datas.append(data)
    
datas

[['내가 좋아하는 것들\n\t\t\t', '게임', '\n', '여행', '\n', '영화', '\n'],
 ['내가 싫어하는 것들\n\t\t\t', '잔소리', '\n', '청소', '\n', '정리', '\n']]

In [64]:
ul_list = html.find_all('ul')

rows = []
for ul in ul_list:
    row = []
    li_list = ul.find_all('li')
    for li in li_list:
        data = li.text
        row.append(data)
    rows.append(row)
    
rows

[]
['게임']
['게임', '여행']
['게임', '여행', '영화']
[]
['잔소리']
['잔소리', '청소']
['잔소리', '청소', '정리']

[['게임', '여행', '영화'], ['잔소리', '청소', '정리']]

In [65]:
file = open('html/table.html', encoding = 'utf-8')
read = file.read()
html = bs(read,'html.parser')

tr_list = html.find_all('tr')

## 원소만 뽑는방법

In [68]:
td_list = html.find_all('td')

row = []
for td in td_list:
    data = td.text
    row.append(data)
row
#pd.Dataframe(row)

['hong',
 '홍길동',
 '23',
 '경기',
 'hwang',
 '황진이',
 '25',
 '서울',
 'dog',
 '멍멍이',
 '5',
 '제주',
 'cat',
 '고양이',
 '3',
 '울룽']

## 행단위로 묶은 원소를 뽑는 방법

In [79]:
tr_list = html.find('table').find('tbody').find_all('tr')
tr_list


rows = []
for tr in tr_list:
    td_list = tr.find_all('td')
    row = []
    for td in td_list:
        data = td.text
        row.append(data)
    rows.append(row)
    
df = pd.DataFrame(rows, columns = ['id','name','age','addr'])
df. set_index('id', inplace = True)
df

      name age addr
id
hong   홍길동  23   경기
hwang  황진이  25   서울
dog    멍멍이   5   제주
cat    고양이   3   울룽