In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from time import sleep

In [12]:
file = open('html/table.html', encoding = 'utf-8')
read = file.read()
html = bs(read,'html.parser')

tr_list = html.find_all('tr')

[['hong',
  '홍길동',
  '23',
  '경기',
  'hwang',
  '황진이',
  '25',
  '서울',
  'dog',
  '멍멍이',
  '5',
  '제주',
  'cat',
  '고양이',
  '3',
  '울룽']]

In [13]:
td_list = html.find_all('td')

row = []
for td in td_list:
    data = td.text
    row.append(data)

pd.Dataframe(row)

['hong',
 '홍길동',
 '23',
 '경기',
 'hwang',
 '황진이',
 '25',
 '서울',
 'dog',
 '멍멍이',
 '5',
 '제주',
 'cat',
 '고양이',
 '3',
 '울룽']

In [14]:
html.find_all('td')

[<td>hong</td>,
 <td>홍길동</td>,
 <td>23</td>,
 <td>경기</td>,
 <td>hwang</td>,
 <td>황진이</td>,
 <td>25</td>,
 <td>서울</td>,
 <td>dog</td>,
 <td>멍멍이</td>,
 <td>5</td>,
 <td>제주</td>,
 <td>cat</td>,
 <td>고양이</td>,
 <td>3</td>,
 <td>울룽</td>]